@import url('https://fonts.googleapis.com/css?family=Bevan|Noticia+Text|Sigmar+One|Source+Code+Pro');

h1 {
  font-family: 'Bevan', cursive;
}

h2 {
  font-family: 'Noticia Text', serif;
}

html, body {
    margin: 0;
    padding: 0;
}

ul, h3 {
  font-family: 'Source Code Pro', monospace;
}

.container {
  background-color: #2ecc71;
}

#button1 {
  height: 50px;
  width: 100px;
}
#button2 {
  height: 50px;
  width: 100px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
